.index-filter {
    &__btn {
        vertical-align: top;
        background-color: transparent;
        border: none;
        font-weight: 700;
        position: relative;
        color: lighten($black, 40%);
        cursor: pointer;
        outline-color: $blue;

        &:after {
            content: '↑';
            display: inline-block;
            vertical-align: top;
            width: 15px;
            height: 25px;
            position: absolute;
            top: 0px;
        }

        &:hover {
            color: $black;

            &:after {
                color: $black;
            }
        }
    }
}

.index-filter__btn_reverse {
    &:after {
        transform: rotate(180deg);
    }
}
